body {
    background-color: var(--bgBody);
    background-image: url('../images//Vector\ 2.svg');
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

nav {
    display: flex;
    width: 80vw;
    margin: 2rem auto;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: 'globotipo_textobold';
}

nav ul li {
    font-size: 18px;
    margin: 0 1.45rem;
    cursor: pointer;
}

nav ul li:hover {
    color: var(--bgHover);
    transition: 0.2s;

}


nav ul .contact {
    background-color: var(--bgButton);
    height: 5vh;
    width: 7vw;
    line-height: 5vh;
    border: 0;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
}

nav ul .contact:hover {
    background-color: var(--bgHover);
    transition: .2s;
    color: var(--white);
}

/* main */
main {
    display: flex;
    width: 80vw;
    margin: 5rem auto;
    justify-content: space-between;
    align-items: center;
}

.describe {
    margin-top: -10rem;
    text-align: left;
}

.describe h1 {
    width: 30rem;
    font-size: 65px;
    display: block;
    color: var(--bgHover);
    margin: 0.55rem 0;
}

.describe h3 {
    width: 30rem;
    font-size: 35px;
    display: block;
    color: var(--white);
    margin: 0.55rem 0;
}

.describe h5 {
    width: 30rem;
    font-size: 20px;
    display: block;
    color: var(--bgHover);
    margin: 0.55rem 0;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--white);
}

.describe button {
    width: 30rem;
    height: 5vh;
    background-color: var(--bgButton);
    border: 0;
    border-radius: 20px;
    color: var(--white);
    line-height: 5vh;
    font-family: 'globotipo_textoregular';
}

.images {
    display: flex;
    background-image: url('../images/image\ 94.svg');
    background-repeat: no-repeat;
    width: 50vw;
    justify-content: space-between;
}

.img1 {
    margin-top: 13rem;
    height: 450px;
}

.img3 {
    margin-top: -5rem;
    height: 450px;
}

/* content */
.content {
    width: 100%;
    justify-content: space-between;
    background-image: url('../images/Rectangle\ 37.svg');
    background-repeat: no-repeat;
    height: 100%;
    padding: 5rem 0;
}

.content .title {
    text-align: center;
    color: var(--bgHover);
    font-family: 'globotipo_textoregular';
    font-size: 26px;
}

.content .subtitle {
    text-align: center;
    color: var(--white);
    font-family: 'globotipo_textobold';
    font-size: 40px;
}

.describe-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 80vw;
    margin: 2rem auto;
    align-items: center;
}

.describe-content h1 {
    color: var(--white);
    font-family: 'globotipo_textobold';
    font-size: 30px;
    display: block;
    width: 30vw;
    text-transform: uppercase;
}

.describe-content h2 {
    font-family: 'globotipo_textolight';
    font-size: 17px;
    display: block;
    width: 30vw;
    text-transform: uppercase;
    margin: 1rem 0;
}

.describe-content button {
    font-family: 'globotipo_textolight';
    font-size: 17px;
    display: block;
    width: 15vw;
    height: 4vh;
    text-transform: uppercase;
    background-color: var(--bgButton);
    border: 0;
    border-radius: 20px;
    transition: .2s;
    cursor: pointer;
}

.describe-content button:hover {
    background-color: var(--bgHover);
}

/* "content-series */

.content-series {
    text-align: center;
    width: 80vw;
    margin: 5rem auto;
    align-items: center;
}

.content-series .title {
    text-align: center;
    font-size: 35px;

}

.content-series .subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 3rem;
}

.content-series .carousel h1 {
    font-family: 'globotipo_textobold';
    font-size: 20px;
    text-align: left;
    border-top: 2px solid var(--white);
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.carousel-item img {
    margin: 0 0.55rem;
}

.carousel-control-prev-icon {
    filter: invert(19%) sepia(54%) saturate(14367%) hue-rotate(309deg) brightness(99%) contrast(91%);
}

.carousel-control-next-icon {
    filter: invert(19%) sepia(54%) saturate(14367%) hue-rotate(309deg) brightness(99%) contrast(91%);
}

/* content-contact */
.content-contact{
    text-align: center;
    width: 80vw;
    display: flex;
    margin: 2em auto;
    justify-content: center;
    flex-direction: column;
}


.content-contact .form{
    width: 40vw;
    margin: 0 auto;
}

.content-contact .form form{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.content-contact .form form input{
    width: 40vw;
    border: 2px solid #ECECEC;
    border-radius: 3px;
    margin: 1rem 0;
    background: transparent;
    padding: 1rem;
}

.content-contact .form form input:focus{
    outline: none;
}

.content-contact .form form button{
    background-color: var(--bgButton);
    width: 10vw;
    height: 6vh;
    border: 0;
    border-radius: 20px;
    margin: 0  auto;
    cursor: pointer;
}


.content-contact .form form button:hover{
    background-color: var(--bgHover);
    transition: 0.2s;
}

.content-contact .form form button:focus{
    outline: none;
}

.content-contact .form img{
    width: 10vw;
    height: 6vh;
    margin-top: 4rem;
}
