/* ==== Section-04 ================================ */
.secao04 {
  padding: 5vw 1rem 0;

  h3 {
    font-family: 'globotipo_textoblack';
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
} 