/*=== Variáveis ===============================*/
:root {
  --color-darkGray: #E8EDF0;
  --margin-page: 1rem;
  --gap-page: 1.5rem;
}

* {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;

  text-decoration: none;
}